# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\allys\Documents\Git\Projetos\eurekaserver\.idea/dataSources/
/dataSources.local.xml
